 body {
      font-family: 'Merriweather', serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 20px;
    }
.breadcrumb {
  margin: 20px;
  font-size: 14px;
}
.breadcrumb a {
  font-size: 1rem;
  text-decoration: none;
  color:lightcoral
}
.breadcrumb a:hover{
  text-decoration: none
}
    h1 {
      text-align: center;
      color: #003366;
      margin-bottom: 30px;
    }

    table {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      border-radius: 8px;
      overflow: hidden;
    }

    th, td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #155ab6;
      color: white;
      cursor: pointer;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    @media (max-width: 768px) {
      table, th, td {
        font-size: 14px;
      }
    }